/* * {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
} */

/* 
.controlPanel {
    min-width: 100px;
    border: 15px solid #a69c40;
    border-radius: 45px;
    padding: 50px;
    margin: 50px;

} */