:root {
	--primary-color: #4caf50;
	--secondary-color: #ef9f9f;
	--text-color: #000000;
	--bg-color: #ffffff;
	--king-alert-color: #ef9f9f;
	--card-back-color: #cccccc;
}

/* 
cccccc
DDFFBC
91C788
ffffff
 */

* {
	font-family: 'Share Tech Mono', monospace;
}

button {
	background-color: var(--primary-color);
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #388e3c;
}

button.disabled {
	background-color: #bdbdbd;
	cursor: not-allowed;
}

.bg-header a {
	color: #333333;
}
.container {
	padding: 3vh;
}

.imgCard {
	border-radius: 5px;
	height: 45vh;
	width: auto;
}

#kingsRemaining {
	font-size: 2rem;
	text-align: center;
	margin: 10px 0;
}

/* --------------- */
