<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Cuarto Rey</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="fonts/simple-line-icons.min.css">
    <!-- css -->
    <link rel="stylesheet" href="css/styles.css">

</head>

<body id="page-top">


    <!-- navegador -->
    <nav class="navbar navbar-light navbar-expand-md navbar navbar-expand-lg" id="mainNav">
        <div class="container"><a class="navbar-brand" href="#">Cuarto REY</a><button data-toggle="collapse"
                class="navbar-toggler navbar-toggler-right" data-target="#navbarResponsive" type="button"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu"><i
                    class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item nav-link"><a class="nav-link active" href="#about">Sobre Nostros</a></li>
                    <li class="nav-item nav-link"><a class="nav-link" href="#download">Descarga</a></li>
                    <li class="nav-item nav-link"><a class="nav-link" href="#contact">Contacto</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Encabezado -->
    <header class="masthead">

        <!-- carta -->
        <div class="container text-center ">
            <div class="row ">
                <div class="col carta-section">
                    <div class=" justify-content-center spacing-section">
<<<<<<< HEAD
                        <div id="insertText"></div>
                        <div id="insertImg"></div>
                       
                        <!-- <img class="" src="img/pinochin.jpeg" alt="pinochin de copas"> -->
                       
=======
                        <!--<div class="carta-text bg-oscurecer">
                            <h2>Pinochin de copas</h2>
                            <p>Todos toman</p>
                        </div>

                        <img class="carta-img" src="img/pinochin.jpeg" alt="pinochin de copas">
                        --->
                        <div class="card">
                            <img class="card-img w-100 d-block" src="img/pinochin.jpeg">
                            <div class="card-img-overlay">
                                <h4>Pinochin de copas</h4>
                                <div></div>
                                <p>Piscolits al seco perri3</p>
                            </div>
                        </div>

>>>>>>> 6a5aef97441a2ca1bb75dac8e61089f07adf191d
                    </div>
                    <a onClick="newCard()" id="startBtn" class="btn btn-primary btn-lg spacing-btn" role="button">Iniciar!</a>
                </div>
            </div>


        </div>


    </header>



    <footer>
        <div class=" footer container text-center">
            <p>Copyright ©Juan Pablo Ruiz y Gonzalo Lobos  <br> 2020</p>
        </div>
    </footer>

</body>



<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
</script>

<!-- sorteo de cartas -->
<script src="/js/cartasSorteo.js"></script>

</html>
