<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4to Rey</title>

    <!-- css -->
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <h1>Cuarto Rey</h1>
<button onClick="randomCard()">Recoge una carta</button>
<p id="number"></p>
<p id="pinta"></p>
    

</body>

<script src="/js/index.js"></script>


</html>