/* Global */

h1,
h2,
h3,
a,
p {
    color: white;
}

/* tamaños Div */

.padding-size{
  padding-top: 1%;
  padding-bottom: 1%;
}

.landing-page-size {
  height: 100vh;
}

/* Card Section */

.card {
 height: 70vh;
  margin: 5vh auto;
}

/* Background */

.bg-black{
  background-color: black;
}

.bg-darkorange {
  background-color: darkorange;
}

.bg-btn {
  background-color: black;
}


/* img */

.card-img {
width:auto;
  height:100% ;
}
@media (max-width: 576px){

.card-img {
object-fit: cover;

}

}
  .carta-text {
  top: 7%;
  padding: 3px 5%;
  border-radius: 16px;
}
/* btn */

.spacing-btn {
    margin: 1% auto;

}

.btn-style{
  border: none;
}




