.dona-section{
    background-color: black;
}

/* img */
.carta-section{
    position: relative;
    text-align: center;
    color: white;
}
.carta{
height: 75vh;
}

.carta-text {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* spacing */
.spacing-btn{
    margin: 2% auto;
  
}

.spacing-section {
    padding: 5% auto;

}

/* masthead */
.masthead{
    background-image:url('../img/intro-bg.jpg');
   
}

/* height */
.height100vh{
    height: 100vh;
}

