/* Global */

h1,
h2,
h3,
h4,
a,
p {
    color:#eeeeee;
}



/* tamaños Div */

.padding-size{
  padding-top: 1%;
  padding-bottom: 1%;
}

.landing-page-size {
  height: 100vh;
}

/* Background */

.bg-fondo, .bg-footer{
  background-color: #000000;
}
.bg-grey{
  background-color: #393e46;
}
.bg-darkorange {
  background-color: darkorange;
}
.bg-celeste, .bg-nav{
  background-color: #af0404;
}
.bg-btn{
  background-color: #ff0000;
}
.bg-btn:hover {
  background-color: #af0404;
}
.bg-btn:click {
  background-color: #ffffff;
}


.bg-box-transparente{
/* background-color: rgba(0%, 67.8%, 71%, 50%) */
background-color: rgba(68.6%, 1.6%, 1.6%, 50%);

}

/* Card Section */

.card {
 height: 70vh;
  margin: 5vh;
}



/* img */

.card-img {
width:auto;
  height:100% ;
}

@media (max-width: 576px){

.card-img {
object-fit: cover;
}

}


/* btn */

.spacing-btn {
    margin: 1% auto;

}

.btn-style{
  border: none;
}

/* style */

.border-style {
  border-radius: 15px;

}


